<div class="container-perfil">
    <div class="row">
        <div class="col-md-3 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">

                    {% if app.user %}
                        <h3 class="panel-title">Bienvenido, <b>{{app.user.username}}</b> </h3>
                    {% else %}
                        <p>Ud. no est&aacute; logueado.</p>
                    {% endif %}

                </div>
                <div class="panel-body">
                    {% if app.user %}
                        <p>{{ 'Nombre de usuario' }}: {{ user.username }}</p>
                        <p>{{ 'Correo electrónico' }}: {{ user.email }}</p>
                        <p>{{ 'Fecha de acceso' }}: {{ user.lastLogin|date("m/d/Y g:ia") }}</p>
                        <a class="btn btn-danger" href="{{ path('glr_user_security_logout') }}">
                            {{ 'Cerrar sesión' }}
                        </a>
                    {% else %}
                        <a class="btn btn-success" href="{{ path('glr_user_security_login') }}">{{ 'Iniciar sesión'|trans({}, 'FOSUserBundle') }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>